<!DOCTYPE html>
<html lang="en">	
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>

	<body>
		
		<!-- header section ending -->
        
        <!-- Page Header Section Start Here -->
        <section class="page-header style-2">
            <div class="container">
                <div class="page-title text-center">
                    <h3>Shop Page</h3>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>shop</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Page Header Section Ending Here -->


        <!-- Shop Page Section Start Here -->
		<div class="shop-page single padding-tb">
            <div class="container">
                <div class="section-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-12">
                            <article>
                                <div class="shop-title d-flex flex-wrap justify-content-between">
                                    <p>Showing 01 - 12 of 139 Results</p>
                                    <div class="product-view-mode">
                                        <a class="active" data-target="grid"><i class="icofont-ghost"></i></a>
                                        <a data-target="list"><i class="icofont-listing-box"></i></a>
                                    </div>
                                </div>

                                <div class="shop-product-wrap grid row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit1.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit1.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Military in Wool Twill Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$280</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit1.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit1.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Military in Wool Twill Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>
                                                    $280
                                                </h6>
                                                <p>This made-to-measure suit is made in India with a military twill fabric from the Successori Reda wool mill. Made of 100% Wool, it is breathable, light and crease-resistant. The piece dyeing gives the garment a matt finish, perfect for those who want to stand out even in the office with a formal, but at the same time innovative and vibrant look.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit2.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit2.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Red Solaro effect in Wool Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$300</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit2.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit2.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Red Solaro effect in Wool Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>
                                                    $300
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a reddish brown fabric from the Tollegno wool mill. Made of 100% Wool, it is breathable, light and crease-resistant. The Solaro-effect herringbone pattern makes it perfect for formal occasions and business wear to add a touch of colour all year round.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit3.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit3.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">  Blue Double Twist in Wool Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$320</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit3.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/imagesEmba/suit3.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Blue Double Twist in Wool Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>
                                                    $320
                                                </h6>
                                                <p>This made-to-measure suit is made in India with a dark blue fabric from the Vitale Barberis Canonico wool mill. Made of 100% Wool, it is breathable, light and crease-resistant thanks to its double twist yarn. The elegant and understated shade of blue makes it a timeless classic, perfect for formal occasions and business wear to ensure an impeccable look all year round.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit4.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit4.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> White in Linen-Cotton blend Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$400</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit4.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit4.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">White in Linen-Cotton blend Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>
                                                    $400
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a white fabric from the Zignone wool mill. Made of Linen and Cotton, it is comfortable, versatile and cool, perfect for spring summer. The difference in colour between the warp and weft gives the garment a melange and iridescent effect, making it particularly casual and perfect for informal occasions where a charismatic look is key.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit5.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit5.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Beige in Stretch cotton Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$380</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit5.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit5.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Beige in Stretch cotton Men's Custom Suit, Made to Measure </a></h6>
                                                <h6>
                                                    $380
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a beige fabric from the Subalpino wool mill. Made of Stretch cotton, it is comfortable and versatile, perfect for wearing in the spring summer. The white stripes on a beige base create a striking and fashionable look, perfect for those who want to be bold.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit6.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit6.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Cream in Wool Twill Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>$350</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit6.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit6.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Cream in Wool Twill Men's Custom Suit, Made to Measure</a></h6>
                                                <h6>
                                                    $350
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a cream twill fabric from the Guabello wool mill. Made of 100% Wool, it is breathable, light and elegant. The slightly shiny finish makes it perfect to be worn on the most important occasions such as ceremonies and large formal events, combined with a waistcoat to complete the ensemble.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit8.webp" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit8.webp" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">Blue in Hemp-Linen blend Men's Custom Suit, Made to Measure  </a></h6>
                                                <h6>$430</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit8.webp" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit8.webp" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Blue in Hemp-Linen blend Men's Custom Suit, Made to Measure </a></h6>
                                                <h6>
                                                    $430
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a dark blue fabric from the Subalpino wool mill. Made of Hemp and Linen, it is cool and light thanks to the excellent temperature-regulating properties of the two fibres. Hemp is also an environmentally sustainable choice thanks to the lesser amount of water used for its cultivation as compared to cotton. The fabric’s herringbone effect applied to a denim blue creates a casual and informal look, perfect for summer. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit9.webp" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit9.webp" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Moss green in Plain-weave Hemp Men's Custom Suit, Made to Measure </a></h6>
                                                <h6>$340</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/suit9.webp" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/suit9.webp" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#"> Moss green in Plain-weave Hemp Men's Custom Suit, Made to Measure </a></h6>
                                                <h6>
                                                    $340
                                                </h6>
                                                <p>
                                                    This made-to-measure suit is made in India with a moss green plain-weave fabric from the Subalpino wool mill. Made of 100% Hemp, it is cool and light thanks to the excellent temperature-regulating properties of the fibre, which also represents an environmentally sustainable choice due to the lesser amount of water used for its cultivation as compared to cotton. The plain weave gives a unique lightness to the garment, which is perfect as a leisure suit even on the hottest summer days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="product-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/SW11.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/SW11.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">  Dark Blue in Wool Canvas 110's Suit</a></h6>
                                                <h6>$430</h6>
                                            </div>
                                        </div>
                                        <div class="product-list-item">
                                            <div class="product-thumb">
                                                <img src="assets/images/Emba/SW11.jpg" alt="shope">
                                                <div class="product-action-link">
                                                    <a href="assets/images/Emba/SW11.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                                    <a href="#"><i class="icofont-heart-alt"></i></a>
                                                    <a href="#"><i class="icofont-cart-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6><a href="#">  Dark Blue in Wool Canvas 110's Suit</a></h6>
                                                <h6>
                                                    $430
                                                </h6>
                                                <p>
                                                    This made to measure suit is made in India with a dark blue fabric in combed wool canvas from the Reda wool mill. In 100% wool, finesse 110's, is breathable, comfortable and resistant to creases. Made in India in fresh wool this suit represents in its simplicity and versatility a real must have of every woman’s wardrobe. Wearable all year, it lends itself perfectly to formal and office wear and will be the perfect ally in the most demanding days.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="paginations">
                                    <ul class="d-flex flex-wrap justify-content-center">
                                        <li>
                                            <a href="#">1</a>
                                        </li>
                                        <li class="d-none d-sm-block">
                                            <a href="#">2</a>
                                        </li>
                                        <li class="d-none d-sm-block">
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a class="dot">...</a>
                                        </li>
                                        <li class="d-none d-sm-block">
                                            <a href="#">9</a>
                                        </li>
                                        <li class="d-none d-sm-block">
                                            <a href="#">10</a>
                                        </li>
                                        <li>
                                            <a href="#">11</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-xl-4 col-md-7 col-12">
                            <aside>
                                <div class="popular-chef-widget">
                                    <div class="widget widget-search">
                                        <div class="search-wrapper">
                                            <input type="text" name="s" placeholder="Your Search...">
                                            <button type="submit"><i class="icofont-search-2"></i></button>
                                        </div>
                                    </div>
                
                                    <!-- <div class="widget widget-post">
                                        <div class="widget-header">
                                            <h5>smith archives</h5>
                                        </div>
                                        <ul class="widget-wrapper">
                                            <li class="d-flex flex-wrap justify-content-between">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="assets/images/popular-food/01.jpg" alt="product"></a>
                                                </div>
                                                <div class="post-content">
                                                    <h6><a href="#">Foulate Revunry And Mhare Fnger Tache Fanny</a></h6>
                                                    <p>November 09, 2021</p>
                                                </div>
                                            </li>
                                            <li class="d-flex flex-wrap justify-content-between">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="assets/images/popular-food/02.jpg" alt="product"></a>
                                                </div>
                                                <div class="post-content">
                                                    <h6><a href="#">Foulate Revunry And Mhare Fnger Tache Fanny</a></h6>
                                                    <p>November 09, 2021</p>
                                                </div>
                                            </li>
                                            <li class="d-flex flex-wrap justify-content-between">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="assets/images/popular-food/03.jpg" alt="product"></a>
                                                </div>
                                                <div class="post-content">
                                                    <h6><a href="#">Foulate Revunry And Mhare Fnger Tache Fanny</a></h6>
                                                    <p>November 09, 2021</p>
                                                </div>
                                            </li>
                                            <li class="d-flex flex-wrap justify-content-between">
                                                <div class="post-thumb">
                                                    <a href="#"><img src="assets/images/popular-food/04.jpg" alt="product"></a>
                                                </div>
                                                <div class="post-content">
                                                    <h6><a href="#">Foulate Revunry And Mhare Fnger Tache Fanny</a></h6>
                                                    <p>November 09, 2021</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> -->
    
                                    <!-- <div class="widget widget-tags">
                                        <div class="widget-header">
                                            <h5>top tags</h5>
                                        </div>
                                        <ul class="widget-wrapper">
                                            <li><a href="#">envato</a></li>
                                            <li><a href="#" class="active">themeforest</a></li>
                                            <li><a href="#">codecanyon</a></li>
                                            <li><a href="#">videohive</a></li>
                                            <li><a href="#">audiojungle</a></li>
                                            <li><a href="#">3docean</a></li>
                                            <li><a href="#">envato</a></li>
                                            <li><a href="#">themeforest</a></li>
                                            <li><a href="#">codecanyon</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Page Section Ending Here -->


        <!-- Newsletter Section Start Here -->
        <div class="news-letter">
            <div class="container">
                <div class="section-wrapper">
                    <div class="news-title">
                        <h3>For Newsletter</h3>
                    </div>
                    <div class="news-form">
                        <form action="http://foxcoders.com/">
                            <label>
                                <input type="email" name="email" placeholder="Enter Your Email">
                            </label>
                            <input type="submit" name="submit" value="Subscribe now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section Ending Here -->

		<!-- Footer Section Start Here -->

        <!-- Footer Section Ending Here -->
        

        <!-- scrollToTop start here -->
		<a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
		<!-- scrollToTop ending here -->


		
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/wow.min.js"></script>
		<script src="assets/js/swiper.min.js"></script>
		<script src="assets/js/lightcase.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/functions.js"></script>
	</body>

<!-- Mirrored from foxcoders.com/demo/mezban/shop-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Feb 2023 16:05:11 GMT -->
</html>