<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>

	<body>


		<!-- Banner Section Start Here -->
		<section class="banner">
			<div class="shape-1">
				<img src="assets/images/Emba/final_banner.png" alt="banner">
			</div>
			<div class="shape-2">
				<img src="assets/images/Emba/final_banner.png" alt="banner">
			</div>
			<div class="banner-area">
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-12">
							<div class="banner-content">
								<h2>Transform your thoughts into designs ..</h2>
								<form action="http://foxcoders.com/">
									<div class="codexcoder-selectoption">
										<select name="text">
											<option value="1">Find A Tailor</option>
											<option value="2">Find A Guide</option>
										</select>
									</div>
									<input type="text" name="type" placeholder="Enter What's In Your Head">
									<button type="submit"><i class="icofont-search-2"></i></button>
								</form>
								<ul>
									<li><span>500+</span>Tailors</li>
									<li><span>600+</span>People Served</li>
									<li><span>1000+</span>Registered Users</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Banner Section Ending Here -->

		<!-- Food Catagory Section Start here -->
		<section class="food-category padding-tb" style="background-image: url(assets/css/bg-image/category-bg.jpg); background-size: cover;">
			<div class="container">
				<div class="food-box">
					<div class="section-header">
						<h2>Browse Your Category</h2>
						<p>Our tailors will visit you at your convenience.We bring our tailoring service directly to you at your home,office, or on any of your selected location, so you have the minimum of interruptions during your busy schedule. </p>
					</div>
					<div class="section-wrapper">
						<div class="food-slider style-2">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/Emba/real.jpg" alt="tailor"></a>
										</div>
										<div class="food-content">
											<a href="#">Male</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/Emba/sm.webp" alt="Male tailors"></a>
										</div>
										<div class="food-content">
											<a href="#">Female</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/Emba/smw.jpeg" alt="Female tailors"></a>
										</div>
										<div class="food-content">
											<a href="#">Kids</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/Emba/k.jpeg" alt="kids tailors"></a>
										</div>
										<div class="food-content">
											<a href="#">Drink</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/food/style-2/05.png" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Juice</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/food/style-2/06.png" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Coffee</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/food/style-2/07.png" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Tea</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="assets/images/Emba/rr.webp" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Beef Roast</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="food-slider-next"><i class="icofont-double-left"></i></div>
						<div class="food-slider-prev"><i class="icofont-double-right"></i>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Food Catagory Section Ending here -->

		<!-- Food Services Section Start here -->
		<section class="food-services home-5 padding-tb">
			<div class="container">
				<div class="section-header">
					<h2>How it Works</h2>
					<p>It's all in the measurements
						We use advanced technology to provide you with the fit of a lifetime. It's time to leave unflattering off-the-rack sizes behind and join a personalized future. It's time you start wearing high-quality clothes made only for you.</p>
				</div>
				<div class="section-wrapper">
					<div class="service-item">
						<div class="service-inner">
							<div class="service-thumb">
								<img src="assets/images/Emba/cyt8.jpg" alt="food-service">
								<span>01 step</span>
							</div>
							<div class="service-content">
								<h6><a href="#">Choose Your Tailor</a></h6>
							</div>
						</div>
					</div>
					<div class="service-item">
						<div class="service-inner">
							<div class="service-thumb">
								<img src="assets/images/Emba/measuring tape.jpg" alt="food-service">
								<span>02 step</span>
							</div>
							<div class="service-content">
								<h6><a href="#">Taking Measurements</a></h6>
							</div>
						</div>
					</div>
					<div class="service-item">
						<div class="service-inner">
							<div class="service-thumb">
								<img src="assets/images/Emba/sr.jpeg" alt="food-service">
								<span>03 step</span>
							</div>
							<div class="service-content">
								<h6><a href="#">Style It Together</a></h6>
							</div>
						</div>
					</div>
					<div class="service-item">
						<div class="service-inner">
							<div class="service-thumb">
								<img src="assets/images/Emba/delman3.jpg" alt="food-service">
								<span>04 step</span>
							</div>
							<div class="service-content">
								<h6><a href="#">Get It Delivered</a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Food Services Section Ending here -->

		<!-- Popular Food Section Start Here -->
		<section class="popular-foods padding-tb" style="background-color: #fafeff;">
			<div class="container">
				<div class="section-header">
					<h2>Most Popular Tailors</h2>
					<p>Whether you are a public figure, a leader in your field, someone who appreciates the finer things in life or a young person starting a career path and are hard to fit or just want a high-quality, affordable suit, we take the time to understand your personal style. When you first don a custom garment designed specifically for you, a new air of confidence envelopes you. You become more aware of how you present yourself. And, those around you take notice.</p>
				</div>
				<div class="section-wrapper">
					<div class="row">
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/dmm.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/06.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor1</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span>Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW3.jpg" alt="p-food">
										<span>$25.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/02.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor2</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span>Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.4</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SM3.jpg" alt="p-food">
										<span>$18.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/03.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor3 </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.0</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SM4.jpg" alt="p-food">
										<span>$21.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/04.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor4</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.2</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW4.jpg" alt="p-food">
										<span>$22.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/05.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor5 </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.3</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="p-food-item">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW6.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<div class="p-food-author">
											<a href="homechef-single.html"><img src="assets/images/chef/author/home-5/06.jpg" alt="food-author"></a>
										</div>
										<h6><a href="#">Tailor6 </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="#" class="food-btn"><span>Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Popular Food Section Ending Here -->

		<!-- Food Apps Section Start here -->
		<section class="food-apps" style="background-image: url(assets/css/bg-image/apps-bg.jpg); background-size: cover;">
			<div class="container">
				<div class="row align-items-center flex-row-reverse z-index-1">
					<div class="col-lg-6 col-12">
						<div class="apps-content padding-tb">
							<div class="section-header">
								<h3>EMBA In Your Mobile! Get Our App</h3>
								<p>We are with you all the way,we are here to help you with everything from fit issues to style advice.Just a few simple steps towards your perfect fit. GET the app now.. </p>
								<div class="food-btn-group">
									<a href="#">
										<img src="assets/images/apps/icon/01.png" alt="food-apps">
										<div class="app-download">
											<p>Download it from</p>
											<span>Play Store</span>
										</div>
									</a>
									<a href="#">
										<img src="assets/images/apps/icon/02.png" alt="food-apps">
										<div class="app-download">
											<p>Download it from</p>
											<span>App Store</span>
										</div>
									</a>
								</div>
								<form>
									<div class="field-holder">
										<input class="field-input" type="email" placeholder="Enter your area (Hooghly India)">
										<button type="submit" class="field-label-btn">Send Link</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="apps-thumb">
							<img src="assets/images/Emba/cyt2.jpg" alt="food-apps">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Food Apps Section Ending here -->

		<!-- Popular Food Section Style 2 Start Here -->
		<section class="popular-foods padding-tb">
			<div class="container">
				<div class="section-header">
					<h2>Popular Tailors For Females</h2>
					<p>You Relax....We will do all the running around.Place an order online and we will swing by your home to pickup your fabric and sample garment for measurements on the scheduled date.</p>
				</div>
				<div class="section-wrapper">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW1.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#">Tailor F</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/01.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span>Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i> AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW0.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#"> Tailor F </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/02.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW3.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#">  Tailor F</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/03.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>  AIEM Clg Campus </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW4.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#"> Tailor F </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/04.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>   AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW5.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#"> Tailor F </a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/05.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>   AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="p-food-item style-2">
								<div class="p-food-inner">
									<div class="p-food-thumb">
										<img src="assets/images/Emba/SW6.jpg" alt="p-food">
										<span>$20.99</span>
									</div>
									<div class="p-food-content">
										<h6><a href="#">  Tailor F</a></h6>
										<p>Available on <a href="#">Everyday</a></p>
										<div class="p-food-group">
											<a href="homechef-single.html" class="user icon"><img src="assets/images/chef/author/user/06.jpg" alt="food-author"></a>
											<a href="#" class="food-btn"><span> Get In Touch</span></a>
											<a href="#" class="cart-icon icon"><i class="icofont-cart-alt"></i></a>
											<a href="#" class="rating icon">4<i class="icofont-star"></i></a>
										</div>
										<div class="p-food-footer">
											<div class="left"><i class="icofont-focus"></i>Rating 4.1</div>
											<div class="right"><i class="icofont-home"></i>   AIEM Clg Campus</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Popular Food Section Style 2 Ending Here -->

		<!-- Popular Home Chef Section Start Here -->
		<section class="popular-chef padding-tb" style="background-color: #fafeff;">
			<div class="container">
				<div class="section-header">
					<h2>Best Tailors</h2>
					<p>Fashion is more about taste than money - you have to understand your body and tailor clothes to your needs.</p>
				</div>
				<div class="section-wrapper">
					<div class="row justify-content-center">
						<div class="col-xl-4 col-md-6 col-12">
							<div class="chef-item">
								<div class="chef-inner">
									<div class="chef-thumb">
										<img src="assets/images/Emba/SM9.jpg" alt="food-chef">
									</div>
									<div class="chef-content">
										<div class="chef-author">
											<a href="#">
												<img src="assets/images/chef/author/home-5/06.jpg" alt="chef-author">
											</a>
										</div>
										<h5><a href="#">  Tailor M</a></h5>
										<p>Month Top <a href="#">Tailor</a></p>
										<div class="scocial-share">
											<a href="#" class="food-btn"><span><i class="icofont-ui-user"></i> follow</span></a>
										</div>
										<div class="chef-footer">
											<div class="chef-earn chef-con">
												<h6>$300.00</h6>
												<a href="#">Earned</a>
											</div>
											<div class="chef-menu chef-con">
												<h6>96</h6>
												<a href="#">Orders</a>
											</div>
											<div class="chef-recipe chef-con">
												<h6>78</h6>
												<a href="#">Completed</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="chef-item">
								<div class="chef-inner">
									<div class="chef-thumb">
										<img src="assets/images/Emba/SW11.jpg" alt="food-chef">
									</div>
									<div class="chef-content">
										<div class="chef-author">
											<a href="#">
												<img src="assets/images/chef/author/08.jpg" alt="chef-author">
											</a>
										</div>
										<h5><a href="#">  Tailor F</a></h5>
										<p>Month Top <a href="#">Tailor</a></p>
										<div class="scocial-share">
											<a href="#" class="food-btn"><span><i class="icofont-ui-user"></i> follow</span></a>
										</div>
										<div class="chef-footer">
											<div class="chef-earn chef-con">
												<h6>$290.00</h6>
												<a href="#">Earned</a>
											</div>
											<div class="chef-menu chef-con">
												<h6>86</h6>
												<a href="#">Orders</a>
											</div>
											<div class="chef-recipe chef-con">
												<h6>63</h6>
												<a href="#">Completed</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-12">
							<div class="chef-item">
								<div class="chef-inner">
									<div class="chef-thumb">
										<img src="assets/images/Emba/ki5.jpg" alt="food-chef">
									</div>
									<div class="chef-content">
										<div class="chef-author">
											<a href="#">
												<img src="assets/images/chef/author/09.jpg" alt="chef-author">
											</a>
										</div>
										<h5><a href="#">  Tailor K</a></h5>
										<p>Month Top <a href="#">Tailor</a></p>
										<div class="scocial-share">
											<a href="#" class="food-btn"><span><i class="icofont-ui-user"></i> follow</span></a>
										</div>
										<div class="chef-footer">
											<div class="chef-earn chef-con">
												<h6>$190.00</h6>
												<a href="#">Earned</a>
											</div>
											<div class="chef-menu chef-con">
												<h6>76</h6>
												<a href="#">Orders </a>
											</div>
											<div class="chef-recipe chef-con">
												<h6>56</h6>
												<a href="#">Completed</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Popular Home Chef Section Ending Here -->

		<!-- Contact From Section Start Here -->
		<section class="contact-us" style="background-color: #f2709c;">
			<div class="container">
				<div class="row justify-content-center align-items-center z-index-1">
					<div class="col-xl-4 col-lg-6 col-12">
						<div class="contact-from">
							<h5>Register Now</h5>
							<form action="http://foxcoders.com/">
								<input type="text" name="name" placeholder="Full Name*">
								<input type="email" name="email" placeholder="Your Email*">
								<input type="text" name="number" placeholder="Phone Number">
								<input type="submit" value="Free Registration">
							</form>
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 col-12">
						<div class="contact-home-chef">
							<div class="section-header ">
								<h3>Become A Tailor.</h3>
								<p>Tailors create, repair and modify pieces of clothing to fit their client.</p>
							</div>
							<div class="section-wrapper">
								<div class="contact-count-item">
									<div class="contact-count-inner">
										<div class="contact-count-thumb">
											<img src="assets/images/Emba/.png" alt="">
										</div>
										<div class="contact-count-content">
											<h5><span class="counter">1000</span>+</h5>
											<p>Orders</p>
										</div>
									</div>
								</div>
								<div class="contact-count-item">
									<div class="contact-count-inner">
										<div class="contact-count-thumb">
											<img src="assets/images/Emba/.png" alt="">
										</div>
										<div class="contact-count-content">
											<h5><span class="counter">2.5</span>K</h5>
											<p>Client</p>
										</div>
									</div>
								</div>
								<div class="contact-count-item">
									<div class="contact-count-inner">
										<div class="contact-count-thumb">
											<img src="assets/images/Emba/.png" alt="">
										</div>
										<div class="contact-count-content">
											<h5><span class="counter">250</span>+</h5>
											<p>Tailors</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-12">
						<div class="contact-thumb">
							<img src="assets/images/Emba/.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Contact From Section Ending Here -->

		<!-- Testimonial Section Start Here -->
		<section class="testimonial padding-tb" style="background-image: url(assets/css/bg-image/category-bg.jpg); background-size: cover;">
			<div class="container">
				<div class="section-wrapper">
					<div class="quete-thumb">
						<img src="assets/images/testimonial/icon/01.jpg" alt="quete">
					</div>
					<div id="demo" class="carousel slide vert">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="testi-item">
									<p>Made the tux for my wedding, was extremely impressed with the customer service and overall quality of the garments. My go to place for all dress clothes moving forward.</p>
									<h6>Somrat Islam <span></span></h6>
									<div class="rating">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testi-item">
									<p>I heard about them from a friend who gets all her suits tailored there and she always looks fab.I am glad trying them. </p>
									<h6>Adira <span></span></h6>
									<div class="rating">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testi-item">
									<p>I've been in the fashion industry for nearly ten years and worked with hundreds of tailors from many different backgrounds I can safely say that these guys are, by far, among the best</p>
									<h6>John Lewis <span></span></h6>
									<div class="rating">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-indicators">
							<div data-bs-target="#demo" data-bs-slide-to="0" class="item active">
								<img src="assets/images/testimonial/01.jpg" alt="">
							</div>
							<div data-bs-target="#demo" data-bs-slide-to="1" class="item">
								<img src="assets/images/testimonial/02.jpg" alt="">
							</div>
							<div data-bs-target="#demo" data-bs-slide-to="2" class="item">
								<img src="assets/images/testimonial/03.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial Section Ending Here -->


		<!-- Blog Section Start here -->
		<section class="blog-section overflow-hidden padding-tb">
			<div class="container">
				<div class="section-header">
					<h3>Most Popular Blog</h3>
					<p>Words From Our Clients.</p>
				</div>
				<div class="section-wrapper">
					<div class="row g-5">
						<div class="col-xl-6 col-12 blog-left">
							<div class="post-item">
								<div class="post-inner">
									<div class="post-thumb">
										<a href="#">
											<img src="assets\images\Emba\SM8.jpg" alt="petuk-blog">
										</a>
									</div>
									<div class="post-content">
										<h5><a href="#">The Ultimate Statement Of Power, Charm And Sophistication</a></h5>
										<a href="#" class="date"> 09 April 2023</a>
										<p>I have worked with several tailors over the years but my experience with EMBA was the best.They really listened to my requirements and understood exactly what I needed. The final product was a reflection of that. The best suit I've had so far. And a number of additional pairs of trousers that were spot on. I am certainly not working with anyone else moving forward. Well done guys! --VARUN</p>
										<a href="#" class="food-btn"><span>Read More</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-12 blog-right">
							<div class="row g-4">
								<div class="col-md-6 col-12">
									<div class="post-item">
										<div class="post-inner">
											<div class="post-thumb">
												<a href="#">
													<img src="assets/images/Emba/BW.jpg" alt="blog">
												</a>
											</div>
											<div class="post-content">
												<h6><a href="#">The benefits of investing in a custom-made wardrobe</a></h6>
												<a href="#" class="date"> 09 April 2023</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="post-item">
										<div class="post-inner">
											<div class="post-thumb">
												<a href="#">
													<img src="assets/images/Emba/BH1.jpg" alt="petuk-blog">
												</a>
											</div>
											<div class="post-content">
												<h6><a href="#">Everything you need for an impeccable holiday outfit</a></h6>
												<a href="#" class="date">  09 April 2023</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="post-item">
										<div class="post-inner">
											<div class="post-thumb">
												<a href="#">
													<img src="assets/images/Emba/BWM.jpg" alt="petuk-blog">
												</a>
											</div>
											<div class="post-content">
												<h6><a href="#">How to Nail Every Men's Wedding Dress Codes</a></h6>
												<a href="#" class="date"> 09 April 2023</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="post-item">
										<div class="post-inner">
											<div class="post-thumb">
												<a href="#">
													<img src="assets/images/Emba/SW03.jpg" alt="petuk-blog">
												</a>
											</div>
											<div class="post-content">
												<h6><a href="#">How to style yourself for the casual dinner party at home..</a></h6>
												<a href="#" class="date">  09 April 2023 </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="all-blog-btn text-center">
						<a href="#" class="food-btn"><span>more blog posts</span></a>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Section Ending here -->


		<!-- Footer Section Start Here -->
	</body>

	</html>
